.front-page-top__content {
    p:last-child {
       
         color: #1d2120;
        text-align: left;
        padding-top: .5rem;
        padding-bottom: .5rem;
        
    }
    p {
       line-height: 1.65rem;
        font-weight: 400;
        color: #1d2120;
        text-align: left;
        font-size: 1.1rem;
        
    }
    
}