.base-banner {
    border-bottom: 1px solid #989A9B;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
   
    /*background-color: rgba(#677077, .9);*/
    background: url(../../assets/images/fullscreenback2.jpg);
    
   
    

    &__dots {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgba(#fff, .2);
        z-index: 1;
        border-radius: 50%;
        bottom:10%;
        left:10%;
        cursor: pointer;
     
    }
    &__dots::before {
        content: "";
        display: block;
        background-color: #333;
        width:100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(.9);
        transition: transform .5s ease;
    }
    &__dots:hover::before {
         transform: scale(.7);
    }
    &__dots:hover {
         background-color: rgba(#fff, .8);
    }
    &__overlay {
        position: absolute;
        min-height: 100vh;
        width:100%;
        background-color: rgba(#333, .9);
         transition: all 1s ease; 
    }
  
   
    
    &__image {
        display: block;
    }
    &__title-trigger {
        position: absolute;
       width:100%;
        display: block;
        background-color: transparent;
        text-indent: -9999px;
        top:18%;
       
       
        z-index: 2;
    }
    &__title::after{
         content: "";
        display: block;
        background-color: rgba(#fff, .8);
          height: 1px;
        
      
        margin:0;
        padding:0;
        margin-top: 1rem;
       
        transform: scaleX(.15);
        transition: transform .5s ease-out;
        
    }
      &__title--small::after {
        content: "";
       
        display: block;
        transform: scale(.6);
        transition: all 1s ease;
          transform-origin: center;
     
        
    }
    &__subtitle--small {
        transform: translateY(200%);
    }
    
    &__title--small {
      transform: translateY(100%);
     
       
    }
    
    
    
    
    &__form {
        position: absolute;
        z-index: 1;
        bottom: 5%;
        right: 5%;
        width:300px;
        margin:0;
        padding:1rem;
        background-color: rgba(#fff, 1);
      transform: rotate3d(1, 0, 0, 90deg);
        transform-origin: bottom;
        transition: all .5s ease;
       
        input::placeholder {
      font-weight: 500;
            opacity: .3;
    }
        textarea::placeholder {
            font-weight: 500;
            opacity: .3;
        }
        
        
        
        p {
            margin:0;
            padding:0;
           
        }
     
        
    }
    &__form--visible {
    transform: rotate3d(1, 0, 0,0deg);
      
    }
    &__form-input {
     background: linear-gradient(to top,#efeeee, #fff);
          box-shadow: inset 0px 1px 2px rgba(0,0,0, .2);
        margin-bottom: 1rem;
       
        border: none;
         text-align: center;
          padding:.5rem;
        width:100%;
    }
    &__form-input-text {
           box-shadow: inset 0px 1px 2px rgba(0,0,0, .2);
    text-align: center;
	
    padding-top:.5rem;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: none;
	line-height: 22px;
	background: linear-gradient(to top,#efeeee, #fff);
	width:100%;
    margin-bottom: 1rem;
   
}
      &__form-input-text:focus {
	
   background-color: #fff;
	

   
}
  
    
#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 1px;
    border-radius: 3px;
    padding-top: .5rem;
    padding-bottom: .5rem;
	cursor:pointer;
	 background-color: #DAAD86;
	color:white;
	transition: all 0.3s;
    margin: 0;
    font-weight:400;
}

#button-blue:hover{
	 background-color: rgba(#EE9142, .9); 

}
    
    
    &__text-content {
        
    position: absolute;
    padding-top: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    left: 0;
    width: 100%;
    text-align: center;
        
        strong {
           text-shadow: 0px 2px 1px rgba($mainGrey, .3);
        }
    }
    &__text-content--hided {
        opacity: 0;
    }
    
    &__title {
    font-weight: 300;
    color: rgba(#fff, .5);
    font-size: 1.2rem;
  
      
       
         margin: 0;
        
         transform-origin: center;
        @mixin atSmall {
        opacity: 1;
            display: block;
            font-size: 2.5rem;
            transition: all .5s ease;
            padding: .0rem;
           
            
          
            
        
        }
         
       
    }
    
    
    &__subtitle {
    font-weight: 300;
    color: rgba(#fff,.5);
    font-size: 1rem;
        transition: all 1s ease;
        
       
      
        
         
        
        @mixin atSmall {
            font-size: 1.5rem;
           
           
          
        }
    }
    
    &__description {
       
        color: #fff;
        font-size: 1rem;  
        font-weight: 200;
        text-shadow: 2px 2px 0 rgba(0,0,0, .1);
        background-color: rgba(0,0,0, .6);
        
        @mixin atSmall {
            font-size: 1.5rem;
            padding: .3rem;
        }
    }
    
}




