.base-banner {
    border-bottom: 1px solid #989A9B;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
   
    /*background-color: rgba(#677077, .9);*/
    background-color: #fff;
    @mixin atLarge{
          background: url(../../assets/images/fullscreenback2.jpg);
    }
    @mixin atIpad {
        background:none;
    }
    @mixin atHiDpi {
        background: none;
    }
    
    
   

    &__dots {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgba(#fff, .2);
        z-index: 1;
        border-radius: 50%;
        bottom:10%;
        left:10%;
        cursor: pointer;
     
    }
    &__dots::before {
        content: "";
        display: block;
        background-color: #333;
        width:100%;
        height: 100%;
        border-radius: 50%;
        transform: scale(.9);
        transition: transform .5s ease;
    }
    &__dots:hover::before {
         transform: scale(.7);
    }
    &__dots:hover {
         background-color: rgba(#fff, .8);
    }
    &__overlay {
        position: absolute;
        min-height: 100vh;
        width:100%;
        background-color: rgba(#ba9077, .9);
         transition: all 1s ease;
        @mixin atLarge {
            background-color: rgba(#333, .9); 
        }
    }
    &__overlay--light {
         background-color: rgba(#999, .9);
    }
    &__image {
        display: block;
    }
    &__title-trigger {
        position: absolute;
       width:100%;
        display: block;
        background-color: transparent;
        text-indent: -9999px;
        top:18%;
       
       
        z-index: 2;
    }
    &__title::after{
         content: "";
        display: block;
        background-color: rgba(#fff, .2);
          height: 10px;
        
      
        margin:0;
        padding:0;
        margin-top: 1rem;
        transform-origin: 50% 0%;
        transform: scaleX(0.1); 
        transition: transform .5s ease;
        
    }
    &__marker {
        text-decoration: none;
        font-size: 1.7rem;
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        padding-bottom: .5rem;
        color: #FF3D00;
        font-weight: 500;
        opacity: .8;
        &--dark {
            color:$mainGrey;
        }
       
    }
    &__marker::after {
        content: "";
        display: block;
        height: 2px;
        width:100%;
        background-color: #FF3D00;
      transform-origin: right;
        transform: scale(0);
        
        
    }
   
    
    &__marker:hover::after {
    transform: scale(.8);
        transition: all 1s ease;
    }
    
      &__title--small::after {
        content: "";
          background-color: rgba(#fff, .9);
        display: block;
        transform: scale(0.2);
        transition: all 1s ease;
          transform-origin: 50% 0%;
     
        
    }
    &__subtitle--small {
        transform: translateY(200%);
    } 
    &__title--small {
      transform: translateY(100%);
     
       
    }       
    &__text-content {
        
    position: absolute;
    padding-top: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    left: 0;
    width: 100%;
    text-align: center;
        
        strong {
           text-shadow: 0px 2px 1px rgba($mainGrey, .3);
        }
    
   
    } 
         .a--dark {
         color: $mainGrey;
    }
    
    &__title {
    font-weight: 300;
    color: rgba(#fff, .8);
    font-size: 1.2rem;
    margin: 0;
    transform-origin: center;
        @mixin atSmall {
        opacity: 1;
            display: block;
            font-size: 2.5rem;
            transition: all .5s ease;
            padding: .0rem;   
        
        }
        &--dark {
            color:$mainGrey;
        }
         
       
    }  
   
    &__subtitle {
    font-weight: 300;
    color: rgba(#fff,.8);
    font-size: 1rem;
        transition: all 1s ease;
        
       
      
        
         
        
        @mixin atSmall {
            font-size: 1.5rem;
           
           
          
        }
    } 
    &__description {
       
        color: #fff;
        font-size: 1rem;  
        font-weight: 200;
        text-shadow: 2px 2px 0 rgba(0,0,0, .1);
        background-color: rgba(0,0,0, .6);
        
        @mixin atSmall {
            font-size: 1.5rem;
            padding: .3rem;
        }
    }
    
}




