.marker {
    color: #FF3D00;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    @mixin atSmall {
         font-size: 1.3rem;
    }  
}

.scroll-to-top {
    width:30px;
    height: 30px;
    display: block;
   position: fixed;
    bottom: 50px;
    right: 50px;
   transition: all 1s ease;
    cursor: pointer;
    background: url('../../assets/images/png_icons/arrowsliderwhite.png');
    background-position: center;
    opacity: 0;
    transform: rotate(-90deg);
    
    &:hover{
      
      
        background: url('../../assets/images/png_icons/arrow-slider.png');
         background-position: center;
    }
    
    &--visible {
        transition: all 1s ease;
        transform:  rotateZ(-90deg);
        opacity: 1;
    }
     
}


.containerr {
    width: 1300px;
 position: relative;
    margin: auto;
    text-align: center;   
}

.site-gallery {
    text-align: center;
    margin:0;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(#fff, .9);
   
    padding-top: 1rem;
    margin-bottom: 1rem;
  
}
.thumbnails {
    padding-left: 1rem;
}
.thumbnails img{
 transition: all .3s ease;
   transform-origin: center;
     border-radius: 2px;
  
  
  
}
.thumbnails img:hover {
transform: scale(1.05);
   
    box-shadow: 0 2px 3px rgba(#000, 0.5);
}
.thumbnails a {

    float: left;
    width:50%;
     transition: all .3s ease;
    padding-right: 10px;
    margin-bottom: 5px;
    @mixin atMedium {
        width:25%;
    }
  
}
.marker:hover { 
    text-decoration: underline;
}
#slider {
    position: relative;
   width:400px;
    height: 300px;
    overflow: hidden;
     margin: auto;
      
    
}
#slider2 {
    position: relative;
   width:400px;
    height: 300px;
    overflow: hidden;
     margin: auto;   
}
.list-imgs  {
    position: relative;
    list-style: none;
    height: 100%;
    width: 1200px;
   transition: all .5s ease;
    margin: 0;
   
   
    float: left;
}

.mail-section__icon {
    height: 30px;
    width: 30px;
    opacity: 1;
    position: absolute;
    background: url(/assets/images/png_icons/clip.png);
   z-index: -1;
    transform: rotate(-45deg) translateX(50%);
    top:0;
    right: 0;
}


#prev, #next   {
    width: 30px;
    text-indent: -9999px;
    height: 30px;
    
   text-decoration: none;
    border-radius: 5px;
   position: absolute;
   top:45%;
    z-index: 99;
    cursor: pointer;
     background-color: rgba(#000, 1);
    transition: all .3s ease-out;
   
   
}
#prev {
   
     background:  url('../../assets/images/png_icons/arrow-sircle-white.png');
  transform: rotateZ(180deg);
   left: 10px; 
      &:hover {
     
           background:  url('../../assets/images/png_icons/arrow-circle-black.png');
    }
}
#next {
   
     background:  url('../../assets/images/png_icons/arrow-sircle-white.png');
  
   right: 10px; 
      &:hover {
     
           background:  url('../../assets/images/png_icons/arrow-circle-black.png');
    }
}
#prev2, #next2   {
    width: 30px;
    text-indent: -9999px;
    height: 30px;
    
   text-decoration: none;
    border-radius: 5px;
   position: absolute;
   top:45%;
    z-index: 99;
    cursor: pointer;
     background-color: rgba(#000, 1);
    transition: all .3s ease-out;
   
   
}
#prev2 {
   
     background:  url('../../assets/images/png_icons/arrow-sircle-white.png');
  transform: rotateZ(180deg);
   left: 0px; 
      &:hover {
     
           background:  url('../../assets/images/png_icons/arrow-circle-black.png');
    }
}
#next2 {
   
     background:  url('../../assets/images/png_icons/arrow-sircle-white.png');
  
   right: 0px; 
      &:hover {
     
           background:  url('../../assets/images/png_icons/arrow-circle-black.png');
    }
}



.sli-container {
    background: url(/assets/images/SimpleClass_Price-section.jpg);
    width:100%;
    height:300px;
     box-shadow: 0 2px 3px rgba(#000, 0.1);
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    @mixin atSmall {
        width:400px;
    }
   
   
   
}
.sli-container2 {
    background: url(/assets/images/PCClass_Price-section.jpg);
    width:100%;
    height:300px;
     box-shadow: 0 2px 3px rgba(#000, 0.1);
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    @mixin atSmall {
        width:400px;
    }
   
   
   
}
.link-list {
    margin:0;
    padding: 0;
    
   
  
    
}


.link-list a {
    color: black;
    font-size: .6rem;
    font-weight: 500;
    text-decoration: none; 
    @mixin atMedium {
        font-size: 1rem;
    }
}
.link-list a:hover {
    color: lightgrey;
}
.link-list li {
    display: inline;
    text-align: center;
    padding-right: 1rem;
    border-right: 1px solid $mainGrey;
    padding-left: 1rem;
    
   
    
}
.link-list li:last-child {
    border-right: none;
}
.nav-title {
    text-align: left;
    margin: 0;
    margin-bottom: .5rem;
}



